/*
.Product-section, .App-section, .About-section, .Contact-section {
  padding: 20px;
}

.Product-image, .App-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
*/

/*
.Product-image, .App-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  width: 100%;
  bottom: 0;
}
*/